body, html {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Tiro Kannada', serif;

  }
  
  .background {
    /* background-image: url("https://cdn.pixabay.com/photo/2017/11/16/09/32/planet-2953871_960_720.png"); */
    /* background-image: url(../assets/wallpaperflare.com_wallpaper.jpg);*/
    background-image: url(../../assets/wallpaperflare.com_wallpaper\ \(2\).jpg);
    background-size: "cover";
    height: 100vh;
    width: 100vw;
    background-size: 105% 100%;
    margin-top: -35px; 
    background-repeat:no-repeat; 
  }
 .h1{
     color: white;
      font-size: 50px;
      padding-top: 25px;
 }
 .box{
    width: 28vw;
    height: auto;
    margin: auto;
    border-radius: 7px;
    padding: 40px;
    margin-top:5vh;
    box-shadow: rgb(57, 41, 41) 0px 20px 30px -10px;
    z-index: 1;
    opacity:1.5;
    background-color:rgb(249, 243, 212);
    /* background-color: rgb(233, 244, 250); */
 }
 .textfield{
   background-color:"red"
 }
 .p{
    font-size: 20px;
    text-align: left;
    color: black;
    padding-left: 10px;
    font-style: oblique;
 }

 @media only screen and (max-width:480px){
  .box{
    width: 80vw;
    height: auto;
    margin: auto;
    border-radius: 7px;
    padding: 40px;
    margin-top:5vh;
    box-shadow: rgb(57, 41, 41) 0px 20px 30px -10px;
    z-index: 1;
    opacity:1.5;
    background-color:rgb(249, 243, 212);
    /* background-color: rgb(233, 244, 250); */
 }
 .background {
   /* background-color: white; */
   background-image: url(../../assets/wallpaperflare.com_wallpaper\ 800px.jpg);
  background-size: "cover";
  height: 100vh;
  width: 100vw;
  /* background-size: 105% 100%; */
  /* margin-top: -35px; 
  background-repeat:no-repeat;  */
}
}

@media only screen and (max-width:720px){
  .box{
    width: 60vw;
    height: auto;
    margin: auto;
    border-radius: 7px;
    padding: 40px;
    margin-top:5vh;
    box-shadow: rgb(57, 41, 41) 0px 20px 30px -10px;
    z-index: 1;
    opacity:1.5;
    background-color:rgb(249, 243, 212);
    /* background-color: rgb(233, 244, 250); */
 }
 .background {
   /* background-color: white; */
   background-image: url(../../assets/wallpaperflare.com_wallpaper\ 800px.jpg);
  background-size: "cover";
  height: 100vh;
  width: 100vw;
  /* background-size: 105% 100%; */
  /* margin-top: -35px; 
  background-repeat:no-repeat;  */
}
}



@media only screen and (max-width:1440px){
  .box{
    width: 70vw;
    margin: auto;
    border-radius: 7px;
    padding: 40px;
    margin-top:5vh;
    box-shadow: rgb(57, 41, 41) 0px 20px 30px -10px;
    z-index: 1;
    opacity:1.5;
    background-color:rgb(249, 243, 212);
    /* background-color: rgb(233, 244, 250); */
 }
}